<div class="container">
    <div class="form-box">
        <form>
            <h2>Calculadora</h2>
            <label for="numero1">Numero 1</label>
            <input type="number" name="numero1" id="numero1"/>
            
            <label for="numero2">Numero 2</label>
            <input type="number" name="numero2" id="numero2"/>

            <button type="submit">Somar</button>
        </form>
        <div class="result-display">
            <p>Resultado: <span id="result">Valor</span></p>
        </div>
    </div>
</div>
